<!DOCType html/>
<head>
    <head>
        <meta charset="utf-8"/>
        <meta lang="en"/>

        <title> Register with us for premier discount marketing </title>
        <!-- CSS -->
        <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="libs/angular-motion/dist/angular-motion.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/style.css">

        <!-- JS -->
        <script src="/libs/angular/angular.js"></script>
        <script src="/libs/angular-route/angular-route.js"></script>
        <script src="/libs/angular-strap/dist/angular-strap.min.js"></script>
        <script src="/libs/angular-strap/dist/angular-strap.tpl.min.js"></script>

        <!-- ANGULAR CUSTOM -->
        <script src="/js/controllers/LoginCtrl.js"></script>
        <script src="/js/services/LoginSrv.js"></script>
        <script src="/js/appRoutes.js"></script>
        <script src="/js/loginapp.js"></script>
    </head>
    <body ng-app="coupinApp" ng-controller="LoginController" class="registration">
        <div class="row text-center">
            <h3 class="light"> <b>Merchant</b> Login and Registration Form </h3>
            <h5 class="light"> One thing you should know, is that <b>We are glad to have you on the team</b> </h5>
        </div>
        <div class="row">
            <div class="col-md-5 col-xs-12 right-divider">
                <h3 class="light"><b>Sign in</b> welcome back</h3>
                <div class="merchantRegBox">
                    <form>
                        <div class="form-group">
                            <label for="loginEmail">Email: </label>
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon"><i class="fa fa-at"></i></div>
                                <input type="text" class="form-control" id="loginEmail" aria-describedby="loginEmailHelp" placeholder="" ng-model="formData.loginEmail" required>
                            </div>
                            <small id="loginEmailHelp" class="form-text text-muted">Email you registered with</small>
                        </div>
                        <div class="form-group">
                            <label for="loginPassword">Password: </label>
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon"><i class="fa fa-key"></i></div>
                                <input type="text" class="form-control" id="loginPassword" aria-describedby="loginPasswordHelp" placeholder="" ng-model="formData.loginPassword" required>
                            </div>
                            <small id="loginPasswordHelp" class="form-text text-muted">Email you registered with</small>
                        </div>
                        <button class="btn btn-default" type="submit" ng-click="">Sign In</button>
                    </form>
                </div>
            </div>
            <div class="col-md-7 col-xs-12">
                <h3 class="light"><b>Sign up</b> with us to start now...</h3>
                <div class="merchantRegBox">
                    <form>
                        <div class="form-group">
                            <label for="companyName">Business Name:</label>
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon"><i class="fa fa-building"></i></div>
                                <input type="text" class="form-control" id="companyName" aria-describedby="nameHelp" placeholder="e.g. Chisco's Burgers'" ng-model="formData.companyName" required>
                            </div>
                            <small id="nameHelp" class="form-text text-muted">The business/brand name that is publicly known to all.</small>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon"><i class="fa fa-at"></i></div>
                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="example@example.com" ng-model="formData.email" required>
                            </div>
                            <small id="emailHelp" class="form-text text-muted">Email used to contact the company.</small>
                        </div>
                        <div class="form-group">
                            <label>Business Categories: </label><br/>
                            <input type="checkbox" name="category" id="entertainment" ng-checked="categories.entertainment" ng-click="addCat('entertainment')"> <label for="entertainment">Entertainment </label>
                            <input type="checkbox" name="category" id="foodndrinks" ng-checked="categories.foodndrinks" ng-click="addCat('foodndrinks')"> <label for="foodndrinks">Food and Drink </label>
                            <input type="checkbox" name="category" id="gadgets" ng-checked="categories.gadgets" ng-click="addCat('gadgets')"> <label for="gadgets">Gadgets </label>
                            <input type="checkbox" name="category" id="healthnbeauty" ng-checked="categories.healthnbeauty" ng-click="addCat('healthnbeauty')"> <label for="healthnbeauty">Health &amp; Beauty </label>
                            <input type="checkbox" name="category" id="shopping" ng-checked="categories.shopping" ng-click="addCat('shopping')"> <label for="shopping">Shopping </label>
                            <input type="checkbox" name="category" id="tickets" ng-checked="categories.tickets" ng-click="addCat('tickets')"> <label for="tickets">Tickets </label>
                            <input type="checkbox" name="category" id="travel" ng-checked="categories.travel" ng-click="addCat('travel')"> <label for="travel">Travel </label>
                            <br/>
                            <small id="emailHelp" class="form-text text-muted">Please tick categories that best describe your business.</small>
                        </div>
                        <div class="form-group">
                            <label for="descr">Description of Business:</label>
                            <textarea class="form-control" id="descr" maxlength="80" placeholder="My company is into..." ng-model="formData.companyDetails" required></textarea>
                            <small id="descrHelp" class="form-text text-muted">Describe business in 80 words or less</small>
                        </div>
                        
                        <i ng-show="loading" class="fa fa-spinner fa-spin fa-3x fa-fw"></i><br/>
                        <button class="btn btn-default" type="submit" ng-click="registerMerch()">Submit Request</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</head>