<!DOCType html/>
<head>
    <head>
        <meta charset="utf-8"/>
        <meta lang="en"/>

        <title> Log In To Panel </title>
        <!-- CSS -->
        <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="login-box">
            <div class="login-form">
                <form method="post" action="/signup">
                    <img class="space-20" src="img/logo.png"/>
                    <div class="form-group">
                        <label for="user-email">Email</label>
                        <input type="email" class="form-control" id="user-email" name="user-email" aria-describedby="emailHelper" placeholder="Enter Password"/>
                        <small id="emailHelper" class="form-text text-muted">Contact Email.</small>
                    </div>
                    <div class="form-group">
                        <label for="user-password">Password</label>
                        <input type="password" class="form-control" id="user-password" name="user-password" aria-describedby="passwordHelper" placeholder="Enter Password"/>
                        <small id="passwordHelper" class="form-text text-muted">Do not share this with anyone.</small>
                    </div>
                    <button class="btn custom" id="submit" type="submit"> Sign Up </button>
                    <button class="btn custom" id="signup" type="button">Sign In</button>
                </form>
            </div>
        </div>
    </body>
</head>