body {
    background: #000428; /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #000428, #004e92);
    background: -moz-linear-gradient(left, #000428, #004e92);
    background: -o-linear-gradient(left, #000428, #004e92);
    background: linear-gradient(to right, #000428, #004e92); /* Chrome 10-25, Safari 5.1-6 */
}

.icons-input {
  background: linear-gradient(to right bottom, #67BC57, deepskyblue);
  border: 1px solid linear-gradient(to right bottom, #67BC57, deepskyblue);
  color: white;
}

.bottom-space {
    padding-bottom: 20px;
}

.btn-full{
  width: 100%;
}

.btn-outline-primary {
  color: #337ab7;
  background-color: white;
  border-color: #2e6da4;
}
.btn-outline-primary:focus,
.btn-outline-primary.focus {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #204d74;
  border-color: #204d74;
}
.btn-outline-primary:active,
.btn-outline-primary.active,
.open > .dropdown-toggle.btn-outline-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
.btn-outline-primary:active:hover,
.btn-outline-primary.active:hover,
.open > .dropdown-toggle.btn-outline-primary:hover,
.btn-outline-primary:active:focus,
.btn-outline-primary.active:focus,
.open > .dropdown-toggle.btn-outline-primary:focus,
.btn-outline-primary:active.focus,
.btn-outline-primary.active.focus,
.open > .dropdown-toggle.btn-outline-primary.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.btn-outline-primary:active,
.btn-outline-primary.active,
.open > .dropdown-toggle.btn-outline-primary {
  background-image: none;
}
.btn-outline-primary.disabled:hover,
.btn-outline-primary[disabled]:hover,
fieldset[disabled] .btn-outline-primary:hover,
.btn-outline-primary.disabled:focus,
.btn-outline-primary[disabled]:focus,
fieldset[disabled] .btn-outline-primary:focus,
.btn-outline-primary.disabled.focus,
.btn-outline-primary[disabled].focus,
fieldset[disabled] .btn-outline-primary.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-outline-primary .badge {
  color: #337ab7;
  background-color: #fff;
}

.container-fluid {
    padding-left: 0px;
}

.info-box {
    background: white;
    border-radius: 2px;
    margin-top: 20px;
    min-height: 400px;
    padding: 20px;
    width: 100%;
}

.jumbotron {
  background: white !important;
}

.jumbo-headers {
  width: 33%;
  border: none;
}

.loading {
  background: rgba(255, 255, 255, .8);
  color: #337ab7;
  height: 90%;
  padding-top: 30%;
  position: absolute;
  width: 93%;
  z-index: 10000;
}

.loading span {
  font-size: 30px;
}

.loading i span {
  position: absolute;
  top: 50%;
  left: 50%;
}

.merchant-space {
  padding: 20px;
}

.nav-link:hover {
  background: white !important;
  border: none;
} 


.nav-merch, .nav-merch:focus {
    color: black !important;
    outline: none;
    text-transform: capitalize;
}

.nav-merch:hover {
    background: #000F3B !important;
    color: white !important;
}

.navbar {
    border: 0px !important;
}