/* Admin Login Box Styling */
.login-box {
    border-radius: 20px;
    height: 400px;
    margin: auto;
    margin-top: 5%;
    min-height: 400px;
    min-width: 400px;
    width: 400px;
    /*Shadow*/
    box-shadow: 2px 3px 3px gray;
}

.login-form {
    margin: 10%;
}

.error {
    background: url('../img/error-sm.png') 5px 5px no-repeat,#e40000;
    border: 1px solid #e40000;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.error-text {
    color: #e40000 !important;
}

.success {
    background: url('../img/success-sm.png') 5px 5px no-repeat,#67BC57;
    border: 1px solid #67BC57;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}
/* Admin Login Box Styling */

/* Admin View Styling */
.admin-view {
    background: #f0f0f0;
    border-bottom: 1px solid #E38F13;
    height: 30px;
    margin: 0 !important;
}

.admin-view div {
    border-right: 1px solid #a0a0a0;
    height: 30px;
}
/* Admin View Styling End */

/*General Styling*/
.body {
    width: 100%;
}

.registration {
    background: linear-gradient(to right bottom, #67BC57, deepskyblue);
    color: white;
}
.custom, .custom:active , .custom:focus {
    background: #E3C313;
    border: #E3C313;
    color: black;
    outline: none;
}

.custom:hover {
    background: #E38F13;
    border: #E38F13;
    color: black;
    outline: none;
}

.light {
    font-weight: 100;
}

.right-divider {
    border-right: 1px solid lightgray;
    height: 60%;

    transform: translateY(30%);
    -moz-transform: translateY(30%);
    -o-transform: translateY(30%);
    -webkit-transform: translateY(30%);
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.space-20 {
    margin-bottom: 5%;
    margin-left: 20%;
    margin-top: 5%;
}

.no-space-below {
    margin-bottom: 0px !important;
}
/* General Styling End */

/* Merchant Registration */
.merchantRegBox {
    background: rgba(0, 0, 0, .5);
    border-radius: 3px;
    color: white;
    height: inherit;
    margin: 5% auto;
    padding: 1%;
    width: 90%;

    /*Shadow*/
    box-shadow: 1px 1px 3px #a0a0a0;
}

.merchantRegBox small {
    color: #f0f0f0;
}

.merchantRegBox form {
    margin: 5% 5%;
}

.merchantRegBox .top-label {
    background: linear-gradient(to right bottom, #67BC57, deepskyblue);
    border-radius: 3px 3px 0 0;
    box-shadow: 1px 1px 3px #c0c0c0;
    color: white;
    height: inherit;
    font-family: FontAwesome;
    font-size: 32px;
    line-height: 2em;
    margin-bottom: 50px !important;
    width: 100%;
}
/* Merchant Registration End */

/* Alert */
.top-right {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 50%;
}
/* Alert End */
